{% extends 'base.html' %}
{% load bootstrap3 %}

{% load staticfiles %}

{% block head_block %}
    <style>
        body {
            background: #fff url("{% static 'images/background.jpg' %}") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        #logo-circle {
            width: 100px;
            height: 100px;
            margin: 30px;
            margin-left: auto;
            margin-right: auto;
            display: table;
            
            background: rgba(20,30,34,0.7);
            border-radius: 100%;
            border: 4px solid rgba(20,30,34,0.9);
        }
        #logo {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
        #logo a,
        #logo a:hover,
        #logo a:focus {
            color: #f3f3f3;
            font-size: 24px;
            font-weight: bold;
        }
        .form-panel {
            background: rgba(20,30,34,0.7);
            color: #f3f3f3;
            margin-top:30px;
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            width: 350px;
        }
        .form-panel .nav-pills {
            margin: 0;
            padding: 0;
        }
        .form-panel .nav-pills > li {
            width: 50%;
            margin: 0;
        }
        .form-panel .nav-pills a {
            color: #f3f3f3;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }
        .form-panel .nav-pills a:hover,
        .form-panel .nav-pills a:focus {
            color: black;
            outline: none;
        }
        .form-panel .nav-pills .active a,
        .form-panel .nav-pills .active a:hover,
        .form-panel .nav-pills .active a:focus {
            background: rgba(20,30,34,0.9);
            outline: none;
        }
        .form-panel .nav-pills > li > a {
            border-radius: 0;
            color: #f3f3f3;
        }
        .form-panel .tab-content {
            background: rgba(20,30,34,0.9);
            margin: 0;
            padding: 15px;
        }
        .form-panel .tab-content .control-label {
            padding-right: 0;
        }
        .form-panel .form-buttons {
            text-align: right;
        }
        .footer {
            color: white;
        }
        .hr-faded {
            background-color: #f3f3f3;
            background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(#f3f3f3), from(#f3f3f3), to(rgba(0, 0, 0, 0)));
            background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #f3f3f3, rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #f3f3f3, rgba(0, 0, 0, 0));
            background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), #f3f3f3, rgba(0, 0, 0, 0));
            background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), #f3f3f3, rgba(0, 0, 0, 0));
            width: 90%;
            height: 1px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: transparent; /* add this line after the mixin call */
        }
    </style>
{% endblock %}

{% block body_block %}
    <div id="logo-circle"><div id="logo"><a href="{% url 'index' %}">PCCS</a></div></div>

    <div class="container form-panel">
        {% block form_block %}
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#login" data-toggle="tab">Login</a>
                </li>
                <li>
                    <a href="#register" data-toggle="tab">Register</a>
                </li>
            </ul>

            <div class="tab-content clearfix">
                <div class="tab-pane active" id="login">
                    <form class="form form-horizontal" id="login_form" method="post" action="{% url 'users:login' %}">
                        {% csrf_token %}
                        {% bootstrap_form login_form layout='horizontal' %}
                        
                        {% buttons layout='horizontal' %}
                            {% bootstrap_button 'Submit' 'submit' %}
                            {% url 'users:password_reset' as password_reset_url %}
                            {% bootstrap_button 'Forgot password' 'link' href=password_reset_url %}
                        {% endbuttons %}
                    </form>
                </div>
                <div class="tab-pane" id="register">
                    <form class="form form-horizontal" id="user_form" method="post" action="{% url 'users:register' %}"
                            enctype="multipart/form-data">

                        {% csrf_token %}
                        {% bootstrap_form user_form layout='horizontal' %}

                        {% buttons layout='horizontal' %}
                            {% bootstrap_button 'Submit' 'submit' %}
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block foot_block %}
<script>
$('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
    localStorage.setItem('activeTab', $(e.target).attr('href'));
});
var activeTab = localStorage.getItem('activeTab');
if (activeTab) {
    $('.nav-pills a[href="' + activeTab + '"]').tab('show');
}
</script>
{% endblock %}
