{% extends 'base.html' %}
{% load bootstrap3 %}

{% load staticfiles %}

{% block head_block %}
    <style>
        body {
            background: #fff url("{% static 'images/background.jpg' %}") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body_block %}
    <a href="{% url 'users:password_reset' %}">Retrieve Password</a>
	<br/>
    <h1>Login</h1>

    <form id="login_form" method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {% bootstrap_form login_form %}

        <input type="submit" value="submit" />
    </form>

    <h1>Register</h1>

    <form id="user_form" method="post" action="{% url 'users:register' %}"
            enctype="multipart/form-data">

        {% csrf_token %}
        {% bootstrap_form user_form %}

        <input type="submit" name="submit" value="Register" />
    </form>
{% endblock %}
