{% extends 'pccs/home.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_block %}{{ block.super }}{% endblock %}

{% block head_block %}

    {{ block.super }}

    <!-- Team Search CSS -->
    {{ team_search_form.media.css }}
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <style>
        #team-search-form .select2-container {
            min-width: 0;
            width: 100% !important;
        }
    </style>

    <!-- Team Panel CSS -->
    <style>
        .tab-content {
            padding-left: 30px;
        }
        .team-panel .header {
            display: flex;
            margin-bottom: 10px;
        }
        .team-panel .header h2 {
            float: left;
            margin: 0;
            margin-right: 25px;
        }
        .team-panel .header form {
            margin-top: auto;
            margin-bottom: auto;
        }
        .team-panel .content .panel-heading {
            cursor: pointer;
        }
    </style>

    <!-- User Search CSS -->
    {{ user_search_form.media.css }}

    <!-- Bootstrap Toggle CSS -->
    <link href="{% static 'bootstrap-toggle/css/bootstrap-toggle.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content_block %}

    <div class="row">
        <div class="col-md-2 col-sm-3" id="side-menu">
            <!-- New team -->
            <div class="text-center" style="padding-bottom:15px">
                <a href="#" data-toggle="modal" data-target="#create-team" class="btn btn-default"><i class="fa fa-plus"></i> New Team</a>
            </div>
            
            <!-- Team search -->
            <div class="text-center" style="padding-bottom:15px">
                <form id="team-search-form" method="post" action="{% url 'teams:get' %}">
                    {% csrf_token %}
                    {{ team_search_form.team }}
                </form>
            </div>
            
            <!-- Team tabs -->
            <ul class="nav nav-pills nav-stacked" id="team-tabs">
                <li class="hidden {% if not teams %}active{% endif %}"><a href="#no-teams" data-toggle="pill"></a></li>
                {% for team in teams %}
                    {% if current is None %}
                        {% include 'teams/team-tab.html' with team=team active=forloop.first %}
                    {% elif team == current %}
                        {% include 'teams/team-tab.html' with team=team active=True %}
                    {% else %}
                        {% include 'teams/team-tab.html' with team=team active=False %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <!-- Create Team Modal -->
        <div class="modal fade" id="create-team" role="dialog">
            <div class="modal-dialog">
                <form class="form form-horizontal" id="team-form" method="post" action="{% url 'teams:create' %}" enctype="multipart form-data">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Team</h4>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div id="team-form-contents">
                        {% bootstrap_form team_form layout='horizontal' %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <!-- /.modal-content -->
                </form>
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /#create-team -->

        <!-- Tab panes -->
        <div class="tab-content col-md-10 col-sm-9" id="team-panels">
            <div class="tab-pane {% if not teams and current is None %}active{% endif %}" id="no-teams">
                <h1>Well this is awkward!</h1>
                <p>You are not on any teams. Try joining one or creating your own.</p>
            </div>
            {% for team in teams %}
                {% if current is None %}
                    {% include 'teams/team-panel.html' with team=team active=forloop.first %}
                {% elif team == current %}
                    {% include 'teams/team-panel.html' with team=team active=True %}
                {% else %}
                    {% include 'teams/team-panel.html' with team=team active=False %}
                {% endif %}
            {% endfor %}
            {% if current is not None and current not in teams %}
                {% include 'teams/team-panel.html' with team=current active=True %}
            {% endif %}
        </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block foot_block %}
    
    {{ block.super }}

    <!-- Bootstrap Toggle JavaScript -->
    <script src="{% static 'bootstrap-toggle/js/bootstrap-toggle.min.js' %}"></script>
    <script src="{% static 'js/team-public-toggle.js' %}"></script>

    <!-- Team Search JavaScript -->
    {{ team_search_form.media.js }}
    <script src="{% static 'js/team-search.js' %}"></script>

    <!-- Create Team JavaScript -->
    <script src="{% static 'js/team-create.js' %}"></script>

    <!-- Leave Team JavaScript -->
    <script src="{% static 'js/team-leave.js' %}"></script>

    <!-- Team Invite JavaScript -->
    <script src="{% static 'js/team-invite.js' %}"></script>

    <!-- Stickytabs JavaScript -->
    <script src="{% static 'js/team-stickytabs.js' %}"></script>

    <!-- User Search JavaScript -->
    {{ user_search_form.media.js }}

{% endblock %}
