{% load team_extras %}

<div class="tab-pane team-panel {% if active %}active{% endif %}" id="team-{{ team.id }}">
    <div class="row header col-md-12">
        <h2>Team {{ team.name }}</h2>

        {% if team in request.user.teams.all %}
            <form class="form form-horizontal team-leave-form"  method="post" action="{% url 'teams:leave' %}" enctype="multipart form-data">
                {% csrf_token %}
                <input type="hidden" id="id_team" name="team" value="{{ team.id }}"/>
                <button type="submit" class="btn btn-xs btn-danger">Leave</button>
            </form>
            <!-- /#team-leave-form -->
            <form class="form form-horizontal team-public-form"  method="post" action="{% url 'teams:public' %}" enctype="multipart form-data" style="margin-left:10px;">
                {% csrf_token %}
                <input type="hidden" id="id_team" name="team" value="{{ team.id }}"/>
                <input type="checkbox" name="public" {% if team.public %}checked{% endif %} data-toggle="toggle" data-size="mini" data-on="Public" data-off="Private">
            </form>
            <!-- /#team-leave-form -->
        {% elif team.public %}
            <form class="form form-horizontal team-join-form"  method="post" action="{% url 'teams:join' %}" enctype="multipart form-data">
                {% csrf_token %}
                <input type="hidden" id="id_team" name="team" value="{{ team.id }}"/>
                <button type="submit" class="btn btn-xs btn-success">Join</button>
            </form>
            <!-- /#team-join-form -->
        {% elif request.user|has_invite:team %}
            <form class="form form-horizontal team-join-form"  method="post" action="{% url 'teams:invite' action='accept' %}" enctype="multipart form-data">
                {% csrf_token %}
                <input type="hidden" id="id_team" name="team" value="{{ team.id }}"/>
                <button type="submit" class="btn btn-xs btn-success">Accept Invite</button>
            </form>
            <!-- /#team-join-form -->
            <form class="form form-horizontal team-invite-decline-form"  method="post" action="{% url 'teams:invite' action='decline' %}" enctype="multipart form-data"  style="margin-left:10px;">
                {% csrf_token %}
                <input type="hidden" id="id_team" name="team" value="{{ team.id }}"/>
                <button type="submit" class="btn btn-xs btn-danger">Decline Invite</button>
            </form>
            <!-- /#team-leave-form -->
        {% elif team|has_request:request.user %}
            <form class="form form-horizontal cancel-join-request-form" method="post" action="{% url 'teams:join-request' 'cancel' %}" enctype="multipart form-data">
                {% csrf_token %}
                <input type="hidden" id="id_request" name="request" value="{% with team|get_request:user as join_request %}{{ join_request.id }}{% endwith %}"/>
                <button type="submit" class="btn btn-default btn-xs">Cancel Join Request</button>
            </form>
        {% else %}
            <form class="form form-horizontal team-join-form"  method="post" action="{% url 'teams:join' %}" enctype="multipart form-data">
                {% csrf_token %}
                <input type="hidden" id="id_team" name="team" value="{{ team.id }}"/>
                <button type="submit" class="btn btn-xs btn-success">Send Join Request</button>
            </form>
            <!-- /#team-join-form -->
        {% endif %}
    </div>
    <!-- /.header -->

    <div class="row content">
        <div class="col-md-7">
            <div class="panel panel-default" id="panel1">
                <div class="panel-heading" data-toggle="collapse" data-target="#team-{{team.id}}-members">
                    <h4 class="panel-title">Members</h4>
                </div>
                <div id="team-{{team.id}}-members" class="panel-collapse collapse in">
                    {% if team.members.all %}
                        <div class="list-group">
                            {% for member in team.members.all %}
                                <a href="{% url 'users:index' member.id %}" class="list-group-item">
                                    {{ member.username }}
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="list-group"><div class="list-group-item">No members</div></div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if request.user in team.members.all %}
            <div class="col-md-5">
                
                <div class="panel panel-default" id="panel1">
                    <div class="panel-heading" data-toggle="collapse" data-target="#team-{{team.id}}-requests">
                        <h4 class="panel-title">Join Requests</h4>
                    </div>
                    <div id="team-{{team.id}}-requests" class="panel-collapse collapse in">
                        {% if team.join_requests.all %}
                            <div class="list-group">
                                {% for join_request in team.join_requests.all %}
                                    <a href="{% url 'users:index' join_request.user.id %}" class="list-group-item">
                                        {{ join_request.user.username }}
                                        <div class="pull-right input-group" style="top:-10px">

                                            <form style="display:inline" class="form accept-join-request-form" method="post" action="{% url 'teams:join-request' 'accept' %}" enctype="multipart form-data">
                                                {% csrf_token %}
                                                <input type="hidden" id="id_request" name="request" value="{{ join_request.id }}"/>
                                                <button type="submit" class="btn btn-link" style="padding-left:0;padding-right:0;padding-top:5px;padding-bottom:4px;margin-right:5px;"><i class="fa fa-check fa-2x"></i></button>
                                            </form>
                                            <!-- /#accept-join-request-form -->

                                            <form style="display:inline" class="form decline-join-request-form" method="post" action="{% url 'teams:join-request' action='decline' %}" enctype="multipart form-data">
                                                {% csrf_token %}
                                                <input type="hidden" id="id_request" name="request" value="{{ join_request.id }}"/>
                                                <button type="submit" class="btn btn-link" style="padding-left:0;padding-right:0;padding-top:5px;padding-bottom:4px;"><i class="fa fa-times fa-2x"></i></button>
                                            </form>
                                            <!-- /#decline-join-request-form -->

                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="list-group"><div class="list-group-item">No pending requests</div></div>
                        {% endif %}
                    </div>
                </div>
                <!-- ./join-requests -->

                <div class="panel panel-default" id="panel1">
                    <div class="panel-heading" data-toggle="collapse" data-target="#team-{{team.id}}-invites">
                        <h4 class="panel-title" style="display:inline;margin-right:4px;">Invites</h4>
                        <a href="#" class="small" data-toggle="modal" data-target="#new-invite-team-{{team.id}}">New</a>
                    </div>
                    <div id="team-{{team.id}}-invites" class="panel-collapse collapse in">
                        {% if team.invites.all %}
                            <div class="list-group">
                                {% for invite in team.invites.all %}
                                    <a href="{% url 'users:index' invite.user.id %}" class="list-group-item">
                                        {{ invite.user.username }}
                                        <div class="pull-right input-group" style="top:-10px;">

                                            <form style="display:inline" class="form cancel-invite-form" method="post" action="{% url 'teams:invite' action='cancel' %}" enctype="multipart form-data">
                                                {% csrf_token %}
                                                <input type="hidden" id="id_invite" name="invite" value="{{ invite.id }}"/>
                                                <button type="submit" class="btn btn-link" style="padding-left:0;padding-right:0;padding-top:5px;padding-bottom:4px;"><i class="fa fa-times fa-2x"></i></button>
                                            </form>
                                            <!-- /#cancel-invite-form -->

                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="list-group"><div class="list-group-item">No pending invites</div></div>
                        {% endif %}
                    </div>
                </div>
                <!-- ./invites -->

                <!-- Send Invite Modal -->
                <div class="modal fade" id="new-invite-team-{{team.id}}" role="dialog">
                    <div class="modal-dialog">
                        <form class="form form-horizontal" id="team-form" method="post" action="{% url 'teams:invite' action='send' %}" enctype="multipart form-data">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">New Invite</h4>
                            </div>
                            <div class="modal-body">
                                {% csrf_token %}
                                <input type="hidden" id="id_team" name="team" value="{{ team.id }}"/>
                                {{ user_search_form.user }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                        </form>
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /#new-invite -->

            </div>
        {% endif %}

    </div>
    <!-- /.content -->
</div>
