.diff-table {
	border-spacing:0;
	border-collapse: collapse;
	font-size: 18px;
}

.diff-table thead, .diff-table tbody {
	display: block;
}

.diff-table tbody {
	height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}

.diff-cell {
	padding-top: 0;
	padding-bottom: 0;
	font-family: monospace;
}

.diff-cell span {
	white-space: pre-wrap;
}

.line-number {
	text-align: right;
	padding-left: 4px;
	padding-right: 4px;
	vertical-align: top;
}

.line-text {
	width: 300px;
	word-break: break-all;
	word-wrap: break-word;
}

.diff-add-bg {
	background-color: #ddffdd;
}

.diff-add {
	background-color: #beffbe;
	display: inline-block;
}

.diff-del-bg {
	background-color: #ffecec;
}

.diff-del {
	background-color: #ffc5c5;
	display: inline-block;
}

.diff-chg-bg {
	background-color: #ffffa4;
}

.diff-chg {
	background-color: #ffff3b;
	display: inline-block;
}
