{% extends 'pccs/home.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_block %}{{ block.super }}{% endblock %}

{% block head_block %}

    {{ block.super }}

    <style>
        .user-info .input-wrapper {
            overflow: hidden;
            padding-right: 5px;
        }
        .user-info input {
            width: 100%;
        }
        .user-info .btn-save, .user-info .btn-cancel {
            float: right;
        }
        .user-info .input-text {
            display: inline-block;
            padding-top: 7px;
            margin-bottom: 0;
            margin-right: 10px;
            float: left;
        }
        .user-info .btn-edit, .user-info .btn-save, .user-info .btn-cancel {
            padding: 0;
            padding-left: 4px;
            padding-right: 4px;
            margin-top: 5px;
        }
        .user-info form, .user-info .help-block {
            display: none;
        }
        .user-info div.editing form {
            display: inline;
        }
        .user-info div.editing .help-block {
            display: inline-block;
            vertical-align: middle;
        }
        .user-info div.editing .input-text, .user-info div.editing .btn-edit {
            display: none;
        }
    </style>

{% endblock %}

{% block content_block %}

    <div class="row">
        {% if user == request.user %} 
            <h1>My Profile</h1>
        {% else %}
            <h1>View Profile</h1>
        {% endif %}
        <hr />
    </div>

    <div class="row">
        <div class="form-horizontal user-info">

            <div class="form-group">
                <label class="control-label col-sm-2" for="username">Username</label>
                <div class="col-md-3 col-sm-4">
                    <span class="input-text">{{ user.username }}</span>
                    
                    {% if user == request.user %}
                        <button class="btn btn-link btn-edit"><i class="fa fa-pencil"></i></button>

                        <form class="user-edit-form" method="post" action="{% url 'users:edit' %}">
                            {% csrf_token %}
                            <button class="btn btn-link btn-cancel"><i class="fa fa-times"></i></button>
                            <button type="submit" class="btn btn-link btn-save"><i class="fa fa-floppy-o"></i></button>
                            <div class="input-wrapper">
                                <input type="text" class="form-control" id="username" placeholder="Username" name="username" value="{{ user.username }}">
                            </div>
                        </form>
                    {% endif %}
                </div>
                <span class="help-block"></span>
            </div>

            {% if user == request.user %}
                <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd">Password</label>
                    <div class="col-md-3 col-sm-4">
                        <a href="{% url 'users:password_change' %}" class="btn btn-default btn-sm">Change Password</a>
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <label class="control-label col-sm-2" for="first_name">First name</label>
                <div class="col-md-3 col-sm-4">
                    <span class="input-text">{% if user.first_name %}{{ user.first_name }}{% else %}(none){% endif %}</span>
                    
                    {% if user == request.user %}
                        <button class="btn btn-link btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        
                        <form class="user-edit-form" method="post" action="{% url 'users:edit' %}">
                            {% csrf_token %}
                            <button class="btn btn-link btn-cancel"><i class="fa fa-times"></i></button>
                            <button type="submit" class="btn btn-link btn-save"><i class="fa fa-floppy-o"></i></button>
                            <div class="input-wrapper">
                                <input type="text" class="form-control" id="first_name" placeholder="First name" name="first_name" value="{{ user.first_name }}">
                            </div>
                        </form>
                    {% endif %}
                </div>
                <span class="help-block"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="last_name">Last name</label>
                <div class="col-md-3 col-sm-4">
                    <span class="input-text">{% if user.last_name %}{{ user.last_name }}{% else %}(none){% endif %}</span>
                    
                    {% if user == request.user %}
                        <button class="btn btn-link btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        
                        <form class="user-edit-form" method="post" action="{% url 'users:edit' %}">
                            {% csrf_token %}
                            <button class="btn btn-link btn-cancel"><i class="fa fa-times"></i></button>
                            <button type="submit" class="btn btn-link btn-save"><i class="fa fa-floppy-o"></i></button>
                            <div class="input-wrapper">
                                <input type="text" class="form-control" id="last_name" placeholder="Last name" name="last_name" value="{{ user.last_name }}">
                            </div>
                        </form>
                    {% endif %}
                </div>
                <span class="help-block"></span>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email</label>
                <div class="col-md-3 col-sm-4">
                    <span class="input-text">{% if user.email %}{{ user.email }}{% else %}(none){% endif %}</span>
                    {% if user == request.user %}
                        <button class="btn btn-link btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        
                        <form class="user-edit-form" method="post" action="{% url 'users:edit' %}">
                            {% csrf_token %}
                            <button class="btn btn-link btn-cancel"><i class="fa fa-times"></i></button>
                            <button type="submit" class="btn btn-link btn-save"><i class="fa fa-floppy-o"></i></button>
                            <div class="input-wrapper">
                                <input type="text" class="form-control" id="email" placeholder="Email" name="email" value="{{ user.email }}">
                            </div>
                        </form>
                    {% endif %}
                </div>
                <span class="help-block"></span>
            </div>

        </div>
    </div>

{% endblock %}

{% block foot_block %}
    
    {{ block.super }}

    <script src="{% static 'js/user-edit.js' %}"></script>

{% endblock %}