{% extends 'users/base.html' %}
{% load bootstrap3 %}

{% block heading %}Login{% endblock %}

{% block content_block %}
	<form class="form form-horizontal" id="login_form" method="post" action="{% url 'users:login' %}">
	    {% csrf_token %}
	    {% bootstrap_form login_form layout='horizontal' %}
	    
	    {% buttons layout='horizontal' %}
	        {% bootstrap_button 'Submit' 'submit' %}
	        {% url 'users:password_reset' as password_reset_url %}
	        {% bootstrap_button 'Forgot password' 'link' href=password_reset_url %}
	    {% endbuttons %}
	</form>

    <div class="hr-faded"></div>

    <div style="text-align:center;">
    	<a href="{% url 'users:register' %}">Create new account</a>
    </div>
{% endblock %}

