{% extends 'pccs/home.html' %}
{% load bootstrap3 %}

{% block content_block %}
    <div class="container-fluid">
        <h1>Change Password</h1>
        <hr/>
        <br/>

        <form class="form form-horizontal" id="password_change_form" method="post" action="{% url 'users:password_change' %}">
            {% csrf_token %}
            {% bootstrap_form password_change_form layout='horizontal' %}

            {% buttons layout='horizontal' %}
                {% bootstrap_button 'Submit' 'submit' %}
                {% url 'users:index' user_id=request.user.id as user_url %}
                {% bootstrap_button 'Cancel' 'button' button_class='btn-default' href=user_url %}
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
