{% extends 'base.html' %}

{% block body_block %}
    <div class="container-fluid">
        
        <hr class="colorgraph">
        
        <h1>Change Password</h1>

        <form id="password_change_form" method="post" action="{% url 'users:password_change' %}">
            {% csrf_token %}
            {{ password_change_form.as_p }}

            <input type="submit" value="Change Password" />
        </form>
        <form action="{% url 'contests:home' %}">
            <input type="submit" value="Cancel">
        </form>
    </div>
{% endblock %}
