{% extends 'users/base.html' %}
{% load bootstrap3 %}

{% block heading %}Register{% endblock %}

{% block content_block %}
    <form class="form form-horizontal" id="user_form" method="post" action="{% url 'users:register' %}"
            enctype="multipart/form-data">

        {% csrf_token %}
        {% bootstrap_form user_form layout='horizontal' %}

        {% buttons layout='horizontal' %}
            {% bootstrap_button 'Submit' 'submit' %}
        {% endbuttons %}
    </form>

	<div class="hr-faded"></div>
	
	<div style="text-align:center;">
		<a href="{% url 'users:login' %}">Already have an account</a>
	</div>
{% endblock %}
