{% extends 'pico/home.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_block %}{{ block.super }}{% endblock %}

{% block head_block %}

    {{ block.super }}

    <!-- Header Footer CSS -->
    <style>
        .header {
            display: flex;
            margin-bottom: 10px;
        }
        .header h2 {
            float: left;
            margin: 0;
            margin-right: 25px;
        }
        .header button {
            margin-top: auto;
            margin-bottom: auto;
        }
        .footer {
            padding-bottom: 10px;
        }
    </style>

    <!-- Picker CSS -->
    <style>
        /* Collected from Bootswatch [https://bootswatch.com/] */
        .preview{margin-bottom:4em;background-color:rgba(234,241,241,0.4);}
        .preview .image{position:relative}
        .preview .image:before{box-shadow:inset 0 0 0 1px rgba(0,0,0,.1);position:absolute;top:0;left:0;width:100%;height:100%;content:"";pointer-events:none}
        .preview .options{padding:1em 2em 2em;border:1px solid rgba(0,0,0,.05);border-top:none;text-align:center}
        .preview .options p{margin-bottom:2em}
    </style>

{% endblock %}

{% block content_block %}
    <div class="row">
        <div class="col-md-2 col-sm-3" id="side-menu" style="padding-left:0;">
            <ul class="nav nav-pills nav-stacked stickytabs">
                <li class="active"><a href="#appearance" data-toggle="pill">Appearance</a></li>
                {% if request.user.is_staff %}<li><a href="#storage" data-toggle="pill">Storage</a></li>{% endif %}
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content col-md-10 col-sm-9" id="team-panels">
            <div class="tab-pane active" id="appearance">
                <form id="change-theme-form" method="post" action="{% url 'users:edit' %}">
                    {% csrf_token %}
                    <input class="hidden" name="theme" id="theme" />
                    
                    <div class="header">
                        <h2>Appearance</h2>
                        <button type="submit" class="btn btn-default" id="default-theme-btn">Use Default</button>
                    </div>
                    <hr />

                    <div class="alert hidden"><h4></h4></div>
                    <div class="row" id="picker"></div>
                    <div class="footer hidden row text-center text-muted" id="acknowledgement">
                        Themes provided by <a href="https://bootswatch.com/">Bootswatch</a>
                    </div>
                </form>
                <!-- /#change-theme-form -->
            </div>
            <!-- /.tab-pane -->

            {% if request.user.is_staff %}
                <div class="tab-pane" id="storage">
                    <div class="header">
                        <h2>Storage</h2>
                    </div>
                    <hr />

                    <div id="disk-usage-chart" style="width:100%; height:400px;"></div>
                    
                    <div class="hidden" id="disk-usage">
                        <var id="total">{{ disk_usage.total }}</var>
                        <var id="free">{{ disk_usage.free }}</var>
                        <var id="pico">{{ disk_usage.pico }}</var>
                        <var id="db">{{ disk_usage.db }}</var>
                        <var id="other">{{ disk_usage.other }}</var>
                    </div>
                </div>
                <!-- /.tab-pane -->
            {% endif %}
        </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.row -->

    

{% endblock %}

{% block foot_block %}
    
    {{ block.super }}

    <!-- Theme Picker JavaScript -->
    <script src="{% static 'js/theme-picker.js' %}"></script>

    <!-- Disk Usage JavaScript -->
    <script src="{% static 'highcharts/highcharts.js' %}"></script>
    <script src="{% static 'js/storage.js' %}"></script>

    <!-- Stickytabs JavaScript -->
    <script src="{% static 'stickytabs/jquery.stickytabs.js' %}"></script>

{% endblock %}