<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ contest_data.title }} Contest</title>
</head>
<body>
    <br /><br />
    <h1>Contest: {{ contest_data.title }}</h1>
    <br />
    <h3>Contest Problems:</h3>
    <table>
    {% for problem in contest_problems %}
        <tr>
            <th style="padding-top: 15px;">Problem {{ forloop.counter }}</th>
        </tr>
        <tr>
            <td>Solution: {{ problem.solution }}</td>
        </tr>
        <tr>
            <td>Input Description: {{ problem.input_description }}</td>
        </tr>
        <tr>
            <td>Output Description: {{ problem.output_description }}</td>
        </tr>
        <tr>
            <td>Sample Input: {{ problem.sample_input }}</td>
        </tr>
        <tr>
            <td>Sample Output: {{ problem.sample_output }}</td>
        </tr>
    {% endfor %}
    </table>
    <h3>Submissions:</h3>
    <table>
    {% for submission in contest_submissions %}
        <tr>
            <th style="padding-top: 15px;">Run ID {{ forloop.counter }}</th>
        </tr>
        <tr>
            <td>Team: {{ submission.team.name }}</td>
        </tr>
        <tr>
            <td>Result: {{ submission.get_state_display }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
