{% extends 'pccs/home.html' %}

{% load static %}
{% load bootstrap3 %}

{% block title_block %}Create a new contest template{% endblock %}

{% block head_block %}
    {{ block.super }}

    {{ admin_search_form.media.css }}
    {{ participant_search_form.media.css }}
{% endblock %}


{% block content_block %}
    <div class="well bs-component">
        <form class="form-horizontal" id="create_contest_template" method="post"
              action="{% url 'contests:create_template' %}" enctype="multipart/form-data">
            <fieldset>
                <legend>Contest Template Creation</legend>

                {% csrf_token %}

                {% for field in form %}
                    {% if field.html_name == "contest_admins" %}
                        <!-- special treatment for contest admin -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Contest admins</label>
                            <div class="col-md-9" style="float: right;">
                                <div class="col-md-4 input-group">
                                    <div class="admin_search" id="admin_search_form">
                                        {% csrf_token %}
                                        {{ admin_search_form.contest_admins }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif field.html_name == "contest_participants" %}
                        <!-- special treatment for contest admin -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Contest participants</label>
                            <div class="col-md-9" style="float: right;">
                                <div class="col-md-4 input-group">
                                    <div class="participant_search" id="participant_search_form">
                                        {% csrf_token %}
                                        {{ participant_search_form.contest_participants }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% bootstrap_field field layout='horizontal' %}
                    {% endif %}
                {% endfor %}
                <br />
                <div class="col-lg-2 col-lg-offset-5">
                    {% bootstrap_button "Create Template" button_type="submit" name="submit" button_class="btn btn-primary" %}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block foot_block %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

    <script src="{% static 'js/autojudge_checkbox.js' %}"></script>
    <!--<script src="{% static 'js/datetime_picker.js' %}"></script>-->

    {{ admin_search_form.media.js }}
    {{ participant_search_form.media.js }}
{% endblock %}
