{% extends 'pccs/home.html' %}

{% load bootstrap3 %}

{% block title_block %}Create a new contest{% endblock %}

{% block head_block %}
    {{ block.super }}
    <style>
        a.add-row {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block content_block %}
    <div class="well bs-component">
        <form class="form-horizontal" id="load_contest_template" method="post"
              action="{% url 'contests:create' %}">
            <fieldset>
                <legend>Default Templates</legend>

                {% csrf_token %}

                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-4">
                        <select class="form-control" name="selected_template" required>
                            {% for field in templates %}
                            <option value="{{ field.id }}">{{ field.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row text-center">
                    {% bootstrap_button "Load Template" value="load_template" button_type="submit" name="submit" button_class="btn btn-primary" %}
                    <a href="{% url 'contests:create_template' %}" class="btn btn-default">Create Template</a>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="well bs-component">
        <form class="form-horizontal" id="create_contest" method="post"
              action="{% url 'contests:create' %}" enctype="multipart/form-data">
            <fieldset>
                <legend>Contest Creation</legend>

                {% csrf_token %}

                {% for field in form %}
                    {% if field.html_name == "contest_admins" %}
                        <!-- special treatment for contest admin -->
                        <div class="form-group">
                            <label class="col-md-3 control-label">Contest admins</label>
                            <div class="col-md-9 btn-group">
                                <button type="button" class="btn btn-primary">Action</button>
                                 <button type="button" class="btn btn-primary">
                                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                 </button>
                            </div>
                            <div class="col-md-9" style="float: right;">
                                <div class="col-md-4 input-group" >
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% bootstrap_field field layout='horizontal' %}
                    {% endif %}
                {% endfor %}
            </fieldset>

            <fieldset>
                <legend style="border: 0;">Individual Problems</legend>

                {{ qa_formset.management_form }}

                <div class="qa-formset">
                <hr style=" border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
					<br />
                    {% for form in qa_formset %}
					    {% bootstrap_form form layout='horizontal' %}
                    {% endfor %}
				</div>

                <br /><br />
                <div class="col-lg-2 col-lg-offset-5">
                    {% bootstrap_button "Create Contest" value="create_contest" button_type="submit" name="submit" button_class="btn btn-primary" %}
                </div>
            </fieldset>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
                $(function () {
                    $('#id_contest_length_pickers:has(input:not([readonly],[disabled]))').datetimepicker({"format": "HH:mm"});
                });
                $(function () {
                    $('#id_time_penalty_pickers:has(input:not([readonly],[disabled]))').datetimepicker({"format": "mm"});
                });
            });
    </script>

    <script type="text/javascript">
        (function(window) {
            var callback = function() {
                $(function(){$("#id_contest_length_pickers:has(input:not([readonly],[disabled]))").datetimepicker({"language": "en-us", "format": "HH:MM"});});
            };
            if(window.addEventListener)
                window.addEventListener("load", callback, false);
            else if (window.attachEvent)
                window.attachEvent("onload", callback);
            else window.onload = callback;
        })(window);
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    {% load static %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script>
        $('.qa-formset').formset({
            addText: 'add question',
            deleteText: 'delete question',
            addCssClass: 'add-row btn btn-primary btn-sm btn-margin',
            deleteCssClass: 'delete-row btn btn-primary btn-sm btn-margin float-left'
        });
    </script>

    <script type='text/javascript'>
        $('#id_autojudge_enabled').click(function() {
            if($('#id_autojudge_enabled').prop('checked') == true) {
                $('#id_autojudge_review').prop('disabled', false);
            } else {
                $('#id_autojudge_review').prop('disabled', true);
            }
        });
    </script>
{% endblock %}
