{% extends 'contests/base.html' %}
{% load static %}

<link rel="stylesheet" src="{% static 'spacelab-bootstrap.css' %}">

{% block content_block %}

    <li class="navbar">
        <a href="{% url 'users:password_change' %}">Change password</a>
        <a href="{% url 'users:logout' %}">Logout</a>
        <a href="{% url 'contests:scoreboard' %}">Scoreboard</a>
        <a href="{% url 'contests:create_template' %}">Create a Contest Template</a>
    </li>
    
    <hr class="colorgraph">

    {% if contests_created %}
        <table>
        
            <tr>
                <th>Contests Created:</th>
            </tr>
            {% for contest in contests_created %}
                <tr>
                    <td><a href="{% url 'contests:contest' contest.id %}">{{ contest.title }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>
            You are not in any contests!
        </h3>
    {% endif %}
    
    <a href="{% url 'contests:create' %}">Create a Contest</a>
    <br/>
    
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-sm-4">
                <button id="create-team-toggle-button">Create Team</button>
                <div class="create-team-toggle-wrapper">
                    <h3>Create team</h3>
                    
                    <form id="team_form" method="post" action="{% url 'teams:create' %}">
                        {% csrf_token %}
                        {{ team_form.as_p }}
                
                        <input type="submit" value="submit" />
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <button id="join-team-toggle-button">Join Team</button>
                <div class="join-team-toggle-wrapper">
                    <h3>Join team</h3>
                    
                    <form id="team_join_form" method="post" action="{% url 'teams:join' %}">
                        {% csrf_token %}
                        {{ team_join_form.as_p }}
                
                        <input type="submit" value="submit" />
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <button id="leave-team-toggle-button">Leave Team</button>
                <div class="leave-team-toggle-wrapper">
                    <h3>Leave team</h3>

                    <form id="team_leave_form" method="post" action="{% url 'teams:leave' %}">
                        {% csrf_token %}
                        {{ team_leave_form.as_p }}

                        <input type="submit" value="submit" />
                    </form>
                </div>  
            </div>
        </div>
    </div>

{% endblock %}

{% block foot_block %}
    {{ team_join_form.media }}
{% endblock %}
<script type="text/javascript">
    $(function() {
      var createTeamToggleButton = $("#create-team-toggle-button");
      var createTeamToggleWrapper = $("#create-team-toggle-wrapper");
      var createTeamToggleForm = $("#create-team-form");

      var joinTeamToggleButton = $("#join-team-toggle-button");
      var joinTeamToggleWrapper = $("#join-team-toggle-wrapper");
      var joinTeamToggleForm = $("#join-team-form");

      var leaveTeamToggleButton = $("#leave-team-toggle-button");
      var leaveTeamToggleWrapper = $("#leave-team-toggle-wrapper");
      var leaveTeamToggleForm = $("#leave-team-form");

      createTeamToggleButton.click(function() {
        createTeamToggleWrapper.toggleClass('open'); /* <-- toggle the application of the open class on click */
      });

      joinTeamToggleButton.click(function() {
        joinTeamToggleWrapper.toggleClass('open');
      });

      leaveTeamToggleButton.click(function() {
        leaveTeamToggleWrapper.toggleClass('open');
      });

    });
</script>