{% extends 'contests/home_base.html' %}
{% load bootstrap3 %}

{% block content_block %}

    <li class="navbar">
        <a href="{% url 'users:password_change' %}">Change password</a>
        <a href="{% url 'users:logout' %}">Logout</a>
        <a href="{% url 'contests:scoreboard' %}">Scoreboard</a>
        <a href="{% url 'contests:create_template' %}">Create a Contest Template</a>
        <a href="{% url 'contests:create' %}">Create a Contest</a>
    </li>

    
    <hr class="colorgraph">
    <table>
        <tr>
            <th>Contests Created:</th>
        </tr>
        {% for contest in contests_created %}
        <tr>
            <td><a href="{% url 'contests:contest' contest.id %}">{{ contest.title }}</a></td>
        </tr>
        {% endfor %}
    </table>

    <br/>
    
    <h3>Create team</h3>

    <form id="team_form" method="post" action="{% url 'teams:create' %}">
        {% csrf_token %}
        {{ team_form.as_p }}

        <input type="submit" value="submit" />
    </form>

    <h3>Join team</h3>

    <form id="team_join_form" method="post" action="{% url 'teams:join' %}">
        {% csrf_token %}
        {{ team_join_form.as_p }}

        <input type="submit" value="submit" />
    </form>

    <h3>Leave team</h3>

    <form id="team_leave_form" method="post" action="{% url 'teams:leave' %}">
        {% csrf_token %}
        {{ team_leave_form.as_p }}

        <input type="submit" value="submit" />
    </form>
{% endblock %}

{% block foot_block %}
    {{ team_join_form.media }}
{% endblock %}
