{% extends 'pccs/home.html' %}
{% load staticfiles %}

{% block title_block %}{{ block.super }}{% endblock %}

{% block head_block %}{{ block.super }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}

{% block content_block %}

    <div class="row">
        <ul class="nav nav-pills nav-stacked col-md-2 stickytabs" id="side-menu">
            <div class="text-center" style="padding-bottom:15px">
                <a href="{% url 'contests:create' %}" class="btn btn-default"><i class="fa fa-plus"></i> New Contest</a>
            </div>
            <li class="active"><a href="#all-contests" data-toggle="pill">All Contests</a></li>
            <li><a href="#active-contests" data-toggle="pill">Active</a></li>
            <li><a href="#pending-contests" data-toggle="pill">Pending</a></li>
            <li><a href="#past-contests" data-toggle="pill">Past</a></li>
        </ul>
        <!-- /.nav-pills -->

        <button href="" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Launch demo modal
        </button>

        <div id="notifications"></div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="modalBody">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Tab panes -->
        <div class="tab-content col-md-10">
            <div class="tab-pane active" id="all-contests">
                <div class="wrapper col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Active Contests</h3>
                        </div>
                        {% if active_contests %}
                            <div class="list-group">
                                {% for contest in active_contests %}
                                    <a href="{% url 'contests:contest' contest.id %}" class="list-group-item">
                                        <strong>{{ contest.title }}:</strong> {{ contest.time_remaining }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="list-group"><div class="list-group-item">No active contests</div></div>
                        {% endif %}
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /#active-contests -->

                <div class="wrapper col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Pending Contests</h3>
                        </div>
                        {% if pending_contests %}
                            <div class="list-group">
                                {% for contest in pending_contests %}
                                    <a href="{% url 'contests:contest' contest.id %}" class="list-group-item">
                                        <strong>{{ contest.title }}:</strong> {{ contest.time_remaining }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="list-group"><div class="list-group-item">No pending contests</div></div>
                        {% endif %}
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /#pending-contests -->

                <div class="wrapper col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Past Contests</h3>
                        </div>
                        {% if past_contests %}
                            <div class="list-group">
                                {% for contest in past_contests %}
                                    <a href="{% url 'contests:contest' contest.id %}" class="list-group-item">
                                        <strong>{{ contest.title }}:</strong> {{ contest.time_remaining }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="list-group"><div class="list-group-item">No past contests</div></div>
                        {% endif %}
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /#past-contests -->
            </div>
            <!-- /#all-contests -->

            <div class="tab-pane" id="active-contests">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Active Contests</h3>
                    </div>
                    {% if active_contests %}
                        <div class="list-group">
                            {% for contest in active_contests %}
                                <a href="{% url 'contests:contest' contest.id %}" class="list-group-item">
                                    <strong>{{ contest.title }}:</strong> {{ contest.time_remaining }}
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="list-group"><div class="list-group-item">No active contests</div></div>
                    {% endif %}
                </div>
                <!-- /.panel -->
            </div>
            <!-- /#active-contests -->

            <div class="tab-pane" id="pending-contests">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pending contests</h3>
                    </div>
                    {% if pending_contests %}
                        <div class="list-group">
                            {% for contest in pending_contests %}
                                <a href="{% url 'contests:contest' contest.id %}" class="list-group-item">
                                    <strong>{{ contest.title }}:</strong> {{ contest.time_remaining }}
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="list-group"><div class="list-group-item">No pending contests</div></div>
                    {% endif %}
                </div>
                <!-- /.panel -->
            </div>
            <!-- /#pending-contests -->

            <div class="tab-pane" id="past-contests">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Past Contests</h3>
                    </div>
                    {% if past_contests %}
                        <div class="list-group">
                            {% for contest in past_contests %}
                                <a href="{% url 'contests:contest' contest.id %}" class="list-group-item">
                                    <strong>{{ contest.title }}:</strong> {{ contest.time_remaining }}
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="list-group"><div class="list-group-item">No past contests</div></div>
                    {% endif %}
                </div>
                <!-- /.panel -->
            </div>
            <!-- /#past-contests -->
        </div>
        <!-- /.tab-content -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block foot_block %}
    
    {{ block.super }}

    <!-- Stickytabs JavaScript -->
    <script src="{% static 'stickytabs/jquery.stickytabs.js' %}"></script>
    <script src="{% static 'js/notification.js' %}"></script>

{% endblock %}