{% extends 'contests/base.html' %}

{% load bootstrap3 %}
{% load contest_extras %}

{% block title_block %}{{ contest_data.title }} Contest{% endblock %}

{% block head_block %}
    {{ block.super }}
{% endblock %}

{% block content_block %}
    <br /><br />
    <h1>Contest: {{ contest_data.title }}</h1>
    <br />
    <h2>Judging submission:</h2>
    <br />
    <!-- TODO: update when contest support multiple judges-->
    {% if request.user == contest_data.creator %}
    <h3>Run ID: {{ submission.run_id }} </h3>
    <br />
    <h3>Team: {{ submission.team.name }} </h3>
    <br />
    <h3>State: {{ submission.get_state_display }} </h3>
    <br />
    <form enctype="multipart/form-data" action="{% url 'contests:contest_judge' contest_data.id submission.run_id%}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Submit"/>
    </form>
    {% endif %}
{% endblock %}
