{% extends 'contests/base.html' %}

{% load static %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load contest_extras %}

{% block title_block %}{{ block.super }}{% endblock %}

{% block head_block %}

    {{ block.super }}

    <!-- Diff table -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/diff.css' %}" />

    <!-- Fixed panel header -->
    <link rel="stylesheet" type="text/css" href="{% static 'fixed-panel-headers/css/style.css' %}" />

{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'contests:contest' contest_id=contest_data.id %}">{{ contest_data.title }}</a></li>
    <li><a href="{% url 'contests:contest_judge_submissions' contest_id=contest_data.id %}">Submissions</a></li>
    <li class="active">Judge</li>
{% endblock %}

{% block content_block %}
    {{ block.super }}

    <h2>Judging submission:</h2>
    <br />

    {% if is_judge %}
    <div class="panel panel-default panel-table fixed-header">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-xs-4">
                    <h3 class="panel-title">Run ID: {{ submission.run_id }}</h3>
                </div>
                <div class="col col-xs-4">
                    <h3 class="panel-title">Team: {{ submission.team.name }} </h3>
                </div>
                <div class="col col-xs-4">
                    <h3 class="panel-title">State: {{ submission.get_state_display }}</h3>
                </div>
            </div>
            <div class="row" style="padding-top:8px">
                <div class="col-xs-12">
                    <button class="btn btn-default first-btn">first</button>
                    <button class="btn btn-default prev-btn">prev</button>
                    <button class="btn btn-default next-btn">next</button>
                    <button class="btn btn-default last-btn">last</button>


                    <span class="checkbox" style="display:inline-block;margin-left:20px;">
                        <label><input class="checkbox-whitespace" type="checkbox" checked>Whitespace</label>
                    </span>
                    <span class="checkbox" style="display:inline-block;margin-left:20px;">
                        <label><input class="checkbox-emptylines" type="checkbox" checked>Empty lines</label>
                    </span>

                    <span style="display:inline-block;margin-left:20px;">
                        <label>Differences:</label> <span class="num-changes">{{numChanges}}</span> lines
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
	<div>
		{{ diff_table|safe }}

    	</div>
            </div>
            <div class="panel-footer">
                <form class="form-inline" enctype="multipart/form-data" action="{% url 'contests:contest_judge' contest_data.id submission.run_id%}" method="post">
                    {% csrf_token %}
                    <label>Result&nbsp;</label>
                    {% bootstrap_form form layout='inline' %}
                    <input class="pull-right btn btn-default" type="submit" value="Submit" name="submit"/>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block foot_block %}
    
    <script type=text/javascript>
        var lock_timer_bar = false;
    </script>

    {{ block.super }}

    <!-- Fixed Panel Header -->
    <script type="text/javascript" src="{% static 'fixed-panel-headers/js/scrollHeadings.js' %}"></script>

    <script type="text/javascript">

        ////////////////////////
        // Diff table nav bar //
        ////////////////////////

        var numChanges = {{ numChanges }};
        
        var cur = 1;
        var url = document.location.toString()
        var i = url.indexOf("#");
        if (i != -1) {
            cur = parseInt(url.substring(i+1));
            $(document).ready(function() { goToAnchor(cur); });
        }
        if (cur > numChanges || Number.isNaN(cur)) {
            cur = 0;
            document.location = url.substring(0,i);
        }

        var first = 1;
        var prev = cur-1;
        var next = cur+1;
        var last = numChanges;

        function goToAnchor(anchor) {
            var loc = document.location.toString().split('#')[0];
            document.location = loc + '#' + anchor;
            window.scrollBy(0, $('.panel.fixed-header .panel-heading').first().outerHeight() * -1);

            cur = anchor;
            prev = anchor-1;
            next = anchor+1;

            $('.first-btn').prop('disabled', numChanges==0||cur==first);
            $('.last-btn').prop('disabled', numChanges==0||cur==last);
            $('.prev-btn').prop('disabled', prev<first);
            $('.next-btn').prop('disabled', next>last);
        }

        $(document).on('click', '.first-btn', function() { goToAnchor(first); });
        $(document).on('click', '.last-btn', function() { goToAnchor(last); });
        $(document).on('click', '.prev-btn', function() { goToAnchor(prev); });
        $(document).on('click', '.next-btn', function() { goToAnchor(next); });

        $(document).ready(function(){
            $('.first-btn').prop('disabled', numChanges==0||cur==first);
            $('.last-btn').prop('disabled', numChanges==0||cur==last);
            $('.prev-btn').prop('disabled', prev<first);
            $('.next-btn').prop('disabled', next>last);
        });

        ///////////////////////
        // Intelligent diffs //
        ///////////////////////

        function resetDiffBackgrounds() {
            $('.diff-text:not(:has(.diff-add:not(.diff-none),.diff-del:not(.diff-none),.diff-chg:not(.diff-none)))').addClass('diff-none');
            $('.diff-text:has(.diff-add:not(.diff-none),.diff-del:not(.diff-none),.diff-chg:not(.diff-none))').removeClass('diff-none');
        };

        function syncNumChanges() {
            var numChanges = $('.diff-table tr:has(.diff-text:has(.diff-add:not(.diff-none),.diff-del:not(.diff-none),.diff-chg:not(.diff-none)))').length;
            $('.num-changes').text(numChanges);
            return numChanges;
        };

        $(document).on('change', '.checkbox-whitespace', function() {
            $('.checkbox-whitespace').prop('checked', this.checked);
            if (this.checked) {
                $('.diff-whitespace').removeClass('diff-none').closest('.diff-text').removeClass('diff-none');
            } else {
                $('.diff-whitespace').addClass('diff-none');
                resetDiffBackgrounds();
            }
            syncNumChanges();
        });
        $(document).on('change', '.checkbox-emptylines', function() {
            $('.checkbox-emptylines').prop('checked', this.checked);
            if (this.checked) {
                $('.diff-emptyline').removeClass('diff-none').closest('.diff-text').removeClass('diff-none');
            } else {
                $('.diff-emptyline').addClass('diff-none');
                resetDiffBackgrounds();
            }
            syncNumChanges();
        });
        syncNumChanges();

    </script>
{% endblock %}
