

<html>
<head>
<style>
   #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#scoreboard td, #scoreboard th {
    border: 1px solid #ddd;
    padding: 8px;
}

#scoreboardtr:nth-child(even){background-color: #f2f2f2;}

#scoreboard tr:hover {background-color: #ddd;}

#scoreboard th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

</style>
</head>
<META HTTP-EQUIV="refresh" CONTENT="5">
<title>Scoreboard</title>
<body>

<b> {{ contest_title }}</b>

<table id="scoreboard">
    <tr>
        <th> Team </th>

        {% for count in problem_count %}
            <th> Question {{ count }} </th>
        {% endfor %}
        <th> Score </th>
        <th> Total Attempts</th>
    </tr>

    <!-- Team row -->
    {% for team in teams %}
        <tr>

        <td> {{ team }} </td>

        {% for problem in problems %}
            <td> Status </td>
        {% endfor %}

        </tr>

    {% endfor %}


    <br> </br>



</table>

</body>
</html>

<!-- loop through teams and add a row for each team, add a TD for each question with color corresponding -->



