{% extends 'contests/base.html' %}

{% load bootstrap3 %}
{% load contest_extras %}

{% block title_block %}{{ contest_data.title }} Contest{% endblock %}

{% block head_block %}
    {{ block.super }}
    <!--meta http-equiv="refresh" content="5" -->
    <style>
       #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #scoreboard td, #scoreboard th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #scoreboardtr:nth-child(even){background-color: #f2f2f2;}

        #scoreboard tr:hover {background-color: #ddd;}

        #scoreboard th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>
{% endblock %}

{% block content_block %}
    {{ block.super }}

    <b> {{ contest_title }}</b>

    {{ problem_status_array.items }}

    <table id="scoreboard">

        <!-- Top Row -->
        <tr>
            <th> Team </th>

            {% for count in problem_count %}
                <th> Question {{ count }} </th>
            {% endfor %}
            <th> Score </th>
            <th> Total Attempts</th>

        </tr>

            <!-- Team Row -->
            {% for team, status_string in problem_status_array.items %}
                <tr>

                <td> {{ team }} </td>

                {% for character in status_string %}

                    {% for problem in problems %}

                        {% if character == "1" %}
                            <td style="background-color:green"> Correct </td>
                        {% endif %}

                        {% if character == "0" %}
                            <td style="background-color:red"> Incorrect </td>
                        {% endif %}

                        {% if character == "2" %}
                            <td style="background-color:yellow"> Pending </td>
                        {% endif %}

                    {% endfor %}
                {% endfor %}

                <td>
                {% for key,value in problem_score_array.items %}
                        {{ value }}
                {% endfor %}
                </td>

                <td> 1 </td>

                </tr>



            {% endfor %}
            <!-- if problem/submission.status = right, color green, wrong color red, else color yellow -->





    </table>

{% endblock %}
<!-- loop through teams and add a row for each team, add a TD for each question with color corresponding -->



