<!DOCTYPE html>
<html>
<head>
<META HTTP-EQUIV="refresh" CONTENT="15">
<title>HTML Tables</title>
</head>
<body>
<table>
    <tr>
        <td>  </td>
    </tr>
    <tr>
        <td> blah </td>
    </tr>
    <tr>
        <td> blah </td>
    </tr>
</table>
</body>
</html>

<!-- loop through teams and add a row for each team, add a TD for each question with color corresponding -->

{% comment %}
<!-- {% for team in teams %}
        <td> <!-- {{ team }} </td>
        <!-- {% for question in team %}
        <td> <!-- {{ question }} </td>
        <!-- {% endfor %}
    </tr>

    <tr>

<!-- {% endfor %} -->
{% endcomment %}