<!DOCTYPE html>
<html>
    <body>
        <h1>Register</h1>

        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        <form id="user_form" method="post" action="{% url 'users:register' %}"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>