<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
        <title>{% block title_block %}PiCO{% endblock %}</title>

    	<!-- Bootstrap Core CSS -->
        {% if request.user and request.user.profile and request.user.profile.theme %}
            <link rel="stylesheet" href="{{ request.user.profile.theme }}" id="bootstrap-css">
        {% else %}
            <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" id="bootstrap-css">
            <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}"> -->
        {% endif %}

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

        <!-- Base CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
        <link rel="mask-icon" color="#5bbad5" href="{% static 'favicon/safari-pinned-tab.svg' %}">
        <meta name="theme-color" content="#ffffff">

        {% block head_block %}{% endblock %}

    </head>

    <body>{% block body_block %}{% endblock %}</body>

    <!-- jQuery -->
    <script src="{% static 'jQuery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Common Lib JavaScript -->
    <script src="{% static 'js/common.js' %}"></script>

	{% block foot_block %}{% endblock %}

</html>

