<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
        <title>{% block title_block %}PCCS{% endblock %}</title>

    	<!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

        <!-- Base CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% block head_block %}{% endblock %}

    </head>

    <body>{% block body_block %}{% endblock %}</body>

    <!-- jQuery -->
    <script src="{% static 'jQuery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Common Lib JavaScript -->
    <script src="{% static 'js/common.js' %}"></script>

	{% block foot_block %}{% endblock %}

</html>

